*{
    margin: 0;
    padding: 0;
}
.middle{
    text-align: center;
    background-color: blue;
    color: yellow;
}


.paras p{
    margin: 2%;
}


.img1{
    background-image: url(../Puppy-Lovers-Designes/Puppy-Lovers-Designes/images/puppy-3.jpg);
}
.img2{
    background-image: url(../Puppy-Lovers-Designes/Puppy-Lovers-Designes/images/puppy-3.jpg);
}

.all-images div{
    height: 310px;
    background-size: cover;
    width: 308px;
    margin: 2px auto; 
}

@media (min-width:700px){
    .paras{
        display: flex;

    }
    .all-images{
        display: flex;
        width: 780px;
        margin: 10px auto;
    }
    .para2{
        display: none;
    }
.img2{
    background-image: url(../Puppy-Lovers-Designes/Puppy-Lovers-Designes/images/puppy-1.jpg);
}
    
}

@media (min-width:1000px){
    .para2{
        display: block;
    }
    .paras p{
        background-color: blue;
        color: white;
    }

}

.all-images{

    width: 950px;
}
.paras{
    width: 960px;
    margin: 0 auto;
}

